
  .el-row:last-child {
      margin-bottom: 0;
    }
  .el-col {
    border-radius: 4px;
    /* background-color: #f9fafc; */
    padding: 5px 0px;
  }
  .icon-color{
    color:#fff;
  }
  .wrapper-list{
    width: 100%;
  }
  .edit{
    background: #00b3ffa6;
  }
  .delete{
    background: #ff5800b8;
  }
  .failed_icon-color{
    background: #42030391;
  }
  .failed{
    background: #ff5900f3;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  body{
    background: #f9fafc;
  }
  a{
    text-decoration: none;
  }
  .el-menu-item-group__title{
    padding-top: 0px;
  }
h4{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  padding: 0;
  margin-top:0px;
}
li{
  text-decoration: none;
  list-style: none;
}
.is-checked .el-checkbox__label{
  text-decoration: line-through;
}
.el-checkbox__inner{
  margin-left: 10px;
}
.li-progress{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-item {
  /* display: inline-block; */
  /* margin-right: 10px; */
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-move {
  transition: transform 1s;
}

.el-menu-vertical-demo{
  height:100vh;

}
.menu-wrapper{
  padding: 0;
}
.el-alert{
  padding:20px;
  margin-top: 0;
}

.el-main{
  padding-top:0;
}

.el-dropdown {
  margin-left: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #409EFF;
  font-size: 16px;
}
.classAddButton{
  margin-left:12px;
}

.indicator{
  padding: 0;
  margin: 0;
}